{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{ movie.description|truncatewords:155 }}

{% endblock %}

{% block title %}
{% if category %}
    {{  movie.title }}
{% endif %}
{% endblock %}
{% block content %}
<div>
    <div>
        <p><a href="{% url 'moviepostapp:allMovieCat' %}">Home</a> | <a href="{{ movie.category.get_url }}">{{ movie.category }}</a>{{ movie.title }}</p>
    </div>
</div>
<br>
<div>
    <div>
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
    </div>
</div>
<div>
    <div>
       <h4>{{ movie.title }}</h4>
        <p>{{ movie.release_date }}</p>
        <p>{{ movie.category }}</p>
        <p>{{ movie.description }}</p>
        <p>{{ movie.actors }}</p>
        <p><a href="{{ movie.trailer_link }}" target="_blank">Watch Trailer</a></p>
    </div>
</div>
{% endblock %}