{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    We have variety of products
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for:<b>"{{ query }}"</b></p>
</div>
 <div class="container">
     <div class="row mx_auto">
         {% for movie in movies %}
             <div class="my_bottom_margin col-9 col-sm-4 col-md-4 xol-lg-4">
                <div class="card text-center" style="min-width: 18em;">
                    <a href="{{ movie.get_url }}">
                        <img style="height: 332px; width: 267px;" class="card-img-top my_image" src="{{ movie.poster.url }}" alt="{{ movie.title}}">
                    </a>
                    <div class="card-body">
                        <h4>{{ movie.title }}</h4>
                    </div>
                </div>
            </div>
         {% empty %}
             <div class="row mx-auto">
                 <p class="text-center my_search_text">0 results found</p>
             </div>
         {% endfor %}
     </div>
 </div>
{% endblock %}